<!--Since we are taking the data from list IEnumerable, then we need to take the model as IEnumerable to read it as list.-->
@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Checking the Model by Any method-->
<h2>Movies</h2>

<button type="button" class="btn btn-primary">@Html.ActionLink("NEW MOVIE", "New", "Movies")</button>

@if (!Model.Any())
{
    <p>No movies listed yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.MovieGenre.Name</td>
                </tr>
                
            }
        </tbody>
    </table>
}

