<!--Using IEnumerable since the customer is in the list. This is the way of implementing this-->
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<!--New Customer Link in button type-->
@Html.ActionLink("NEW CUSTOMER", "New", "Customers", null, new { @class = "btn btn-primary" })

<!--Checking whether there is any customer or not based on the model.-->
@if (!Model.Any())
{
    <p>There is no customers registered yet!</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>    
                    <!--Creating a link redirecting to page Details with Id given in the customer details in the controller-->
                    <!--If you want to create the Edit class automatically, place the cursor on Edit, press ALT + Enter, and Enter again-->
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)</td>
                    <!--Eager Loading in CustomerController to include MembershipType object together. Adding % just like that as razor is good
                        enough to understand it is just a text-->
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customers .js-delete").on("click",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>

}